html {
  background: white;
  margin: 0px;
  font-size: 16px;
  font-family: Ubuntu, Raleway, Helvetica, Arial, sans-serif;
  height: 100%;
}

body {
  margin: 0px;
  text-align: center;
  min-height: 100%;
  position: relative;
}

header {
  width: 100%;
  background-image: url('https://www.haskell.org/static/img/pattern.png');
  background-size: cover;
  background-repeat: repeat-y;
  color: #fff;
  font-size: 36px;
  padding: 24px 0px 0px 0px;
}

header img#haskell-logo {
  display: inline;
  height: 36px;
  margin-bottom: -4px;
}

header nav {
  border-top: 1px solid #fff;
  max-width: 600px;
  margin: 12px auto 0px auto;
  padding: 12px;
  font-size: 0px;
}

header nav a {
  margin: 6px 0px 6px 0px;
  font-size: 18px;
  font-variant: small-caps;
  color: white;
  text-decoration: none;
  padding: 3px 12px 3px 12px;
}

header nav a:hover {
  background-color: #64328c;
}

main {
  max-width: 800px;
  margin: 0px auto 0px auto;
  text-align: left;
  padding: 0px 6px 90px 6px;
}

footer {
  width: 100%;
  background-image: url('https://www.haskell.org/static/img/pattern.png');
  background-size: cover;
  background-repeat: repeat-y;
  color: #fff;
  font-size: 12px;
  padding: 24px 0px 24px 0px;
  position: absolute;
  bottom: 0px;
}

footer a {
  color: #fff;
}

h1 {
  color: #000;
  font-size: 36px;
  padding: 0px;
  margin: 42px 0px 12px 0px;
  font-variant: small-caps;
  font-weight: normal;
}

h2 {
  color: #000;
  font-size: 24px;
  padding: 0px;
  margin: 18px 0px 18px 0px;
  font-weight: normal;
}

p {
  padding: 0px;
  margin: 18px 0px 18px 0px;
}

.timeline {
  text-align: center;
}

.timeline table {
  text-align: left;
  margin: 12px auto 12px auto;
  border-spacing: 12px 0px;
}

.timeline table tr td {
  padding: 6px;
}

.timeline table tr td:nth-child(1) {
  border-right: 6px solid #64328c;
  padding-right: 36px;
}

.sponsors {
  text-align: center;
}

.sponsors img {
  display: inline;
  margin: 12px 12px;
  max-height: 100px;
  max-width: 200px;
  vertical-align: middle;
}

.sponsors a {
  text-decoration: none;
}

.become-a-sponsor {
  margin: 24px;
  padding: 6px;
  text-align: center;
}

.become-a-sponsor img {
  display: inline;
  height: 18px;
  margin: 0px 6px -2px 0px;
}

.become-a-sponsor a {
  background-image: url('https://www.haskell.org/static/img/pattern.png');
  background-size: cover;
  border-radius: 12px;
  color: #fff;
  font-size: 18px;
  font-variant: small-caps;
  padding: 12px 36px;
  text-decoration: none;
}

/* Anchors after headers */
a.anchor {
  color: #64328c;
  display: none;
  font-size: 80%;
  margin-left: 12px;
  text-decoration: none;
}

/* Display anchors only if we are hovering above the parent header. */
h1:hover a.anchor, h2:hover a.anchor, h3:hover a.anchor {
  display: inline;
  color: #64328c;
}
