<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Summer of Haskell 2017 - $title$</title>
    <link rel="stylesheet" href="/style/style.css" />
    <link rel="alternate" type="application/rss+xml"
        title="Summer of Haskell News"
        href="http://summer.haskell.org/news.xml" />
  </head>
  <body>
    <header>
      <img
          id="haskell-logo"
          src="https://www.haskell.org/static/img/logo.png?etag=rJR84DMh"
          alt="haskell logo"/>
      Summer of Haskell 2017
      <nav>
        <a href="/">Home</a>
        <a href="/news.html">News</a>
        <a href="/faq.html">Faq</a>
        <a href="/ideas.html">Ideas</a>
        <a href="/contact.html">Contact</a>
      </nav>
    </header>
    <main>
      $body$
    </main>
    <footer>
      This website is maintained by the
      <a href=https://wiki.haskell.org/Haskell.org_committee">Haskell.org
      committee</a>.  Summer of Haskell is made possible by our
      <a href="/#sponsors">sponsors</a>.
    </footer>
  </body>
</html>
